body{
    scroll-behavior: smooth;
}
.init-cont {
    display: flex;
    border-radius: 15px;
    margin: 2% auto 15% auto;
    width: 70%;
    animation: jumpIn 2s forwards;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    /* padding: 20px; */
}
.container label{
    padding-top: 12px;
    font-size: 17px;
    margin-left: 12px;
}

.container input{
    padding: 15px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 15px;
}
.container button{
  margin-top: 12px;
  padding: 15px 40px;
  width: 30%;
  border-radius: 15px;
  border: none;
  color: black;
  cursor: pointer;
  background-color: rgb(180, 180, 180);
  transition: all 0.3s ease-in-out;
}
.container button a{
    text-decoration: none;
    color: black;
}
.container button:hover{
    transition: 0.3s;
    background-color: rgb(213, 213, 213);
}
.alt p{
    /* padding: 12px; */
    margin-left: 38%;
    margin-top: 4%;
    font-size: 17px;
}

.alt p a{
    text-decoration: none;
    color: red;
}

@keyframes jumpIn {
    from{
        opacity: 0;
        margin-top: 10%;
    }
    to{
        opacity: 1;
        margin-top: 0;
    }
}

